
/*..------------------------------*/
#powerby-login
{
  display:none;
}

.view-webformview .views-view-grid {
    border-bottom: 2px solid;
    width: 100%;
    float: left;
    margin-bottom: 2em;
}

.view-content
{
	    font-size: 18px;

}

/*-------form buttons ----*/

.node-content input.form-button
{
	float: left;
	margin-left: 63px;
	margin-top: -36px;
}




.page-node-34 .region-header-second ,.page-webformview .region-header-second 
{
	 width: 30%;
   display: inline-block;
}

/*this css is for site information on header section for Alumni Register page */

.page-node-34 #header-container .gpanel .region-header-third ,.page-webformview  #header-container .gpanel .region-header-third
{
	  width: 70%;
    float: right;
    text-align: left;
}

/* for shusheela's profile */
#node-65 .jcarousel-skin-default
{
  margin-top: -83px;
}

/* for sachin's profile */

#node-66 .jcarousel-skin-default
{
  margin-top: -49px;
}

/*this css is for site information on header section for locationmap page */

#page-locationmap .region-header-second ,.page-locationmap .region-header-second 
{
   width: 30%;
   display: inline-block;
}

#page-locationmap #header-container .gpanel .region-header-third , .page-locationmap #header-container .gpanel .region-header-third
 {
    width: 70%;
    float: right;
    text-align: left;
 }
