
/*..------------------------------*/
#powerby-login
{
  display:none;
}

.view-webformview .views-view-grid {
    border-bottom: 2px solid;
    width: 100%;
    float: left;
    margin-bottom: 2em;
}

.view-content
{
	    font-size: 18px;

}

/*-------form buttons ----*/

.node-content input.form-button
{
	float: left;
	margin-left: 63px;
	margin-top: -36px;
}
/*
.block-content content .form-button 
{
	float: left;
	margin-left: 52px;
	margin-top: -37px;
}
*/

/* css for Contact Us at bottem  of page 
.boxes-box-content
{
	margin-left: 420px;
	border-width: 5px;
	/*border-style: unset;
	margin-top: 50px;
}

*/